<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net472" />
  <package id="Emoji.Wpf" version="0.3.4" targetFramework="net481" />
  <package id="JeremyAnsel.HLSL.Targets" version="1.0.13" targetFramework="net481" />
  <package id="LibGit2Sharp-SSH.NativeBinaries-libssh2-1.8.1.0" version="1.0.15" targetFramework="net481" />
  <package id="LibGit2Sharp-SSH-updated-libssh2" version="1.0.25" targetFramework="net481" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Octokit" version="11.0.1" targetFramework="net481" />
  <package id="Stfu" version="0.1.1" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net481" />
</packages>